@using System;
@model Templator.Models.FiscalRevenueParams
<!DOCTYPE html>
<html>

<head>
    <link href="@Model.ResolveStylesheetPath("Bootstrap.css")" rel="stylesheet" />
    <link href="@Model.ResolveStylesheetPath("FiscalRevenue.css")" rel="stylesheet" />
</head>

<body>
	<div class="row">
		<div class="col-xs-8">
			<div>
				<strong>@Model.data.DistrictName</strong>
			</div>
			<br />
			<div>
				FISCAL ANNUAL REVENUE
			</div>
			<br />
			<div>
				@DateTime.Now.ToLongDateString()
			</div>
		</div>
		<div class="col-xs-4">
            <div><strong>Healthcare Process Consulting, Inc.</strong></div>
            <div>2888 Nationwide Parkway</div>
            <div>Brunswick, Ohio 44212 </div>
            <div>(440) 884-3688; or (866) 625-2003</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-9">
			<div>
				CURRENT FISCAL YEAR TO DATE REIMBURSEMENT
			</div>
			<div>
				Direct Services
			</div>
			<div>
				MSP Settlement(s)
			</div>
		</div>
		<div class="col-xs-3">
			<div>
				@Model.data.CurrentYearReimbursement
			</div>
			<div>
				@Model.data.DirectServices
			</div>
			<div>
				@Model.data.MSPSettlements
			</div>
		</div>
	</div>
	<hr>
	<div class="row reportHeader">
		<br />
		<div class="col-xs-6">
			<div>
				<strong>Current Fiscal Year to date breakdown by service dates</strong>
			</div>
			<br />
			<div class="indentLeft">
				<strong>Service Area</strong>
			</div>
		</div>
		<div class="col-xs-2">

		</div>
		<div class="col-xs-2">
			<br />
			<br />
			<div>
			   <strong>@Model.data.FiscalYear</strong>
			</div>
		</div>
		<div class="col-xs-2">
			<br />
			<br />
			<div>
				<strong>@Model.data.PreviousYear</strong>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<br />
		@foreach(var report in Model.data.FiscalRevenuePerServiceCodeData)
		{
			<div class="col-xs-6">
				<div>
					@report.ServiceCodeName
				</div>
				<br />
			</div>
			<div class="col-xs-2">
				<div>
					@report.Total
				</div>
				<br />
			</div>
			<div class="col-xs-2">
				<div>
					@report.SelectedYearTotal
				</div>
				<br />
			</div>
			<div class="col-xs-2">
				<div>
					@report.PriorYearTotal
				</div>
				<br />
			</div>
		}
	</div>
	<hr>
	<div class="row">
		<br />
		<div class="col-xs-6">
			<div class="floatRight">
				<strong>Totals:</strong>
			</div>
		</div>
		<div>
			<div class="col-xs-2">
				<div>
					@Model.data.FiscalRevenuePerYearDataTotals.Total
				</div>
			</div>
			<div class="col-xs-2">
				<div>
					@Model.data.FiscalRevenuePerYearDataTotals.SelectedYearTotal
				</div>
			</div>
			<div class="col-xs-2">
				<div>
					@Model.data.FiscalRevenuePerYearDataTotals.PriorYearTotal
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row reportHeader">
		<br />
		<div class="col-xs-6">
			<div>
				<strong>Historical Comparison Revenue by Service Area/Service date</strong>
			</div>
			<br />
			<div class="indentLeft">
				<strong>Service Area</strong>
			</div>
		</div>
		<div class="col-xs-2">
			<br />
			<br />
			<div>
			   <strong>@Model.data.FiscalYear</strong>
			</div>
		</div>
		<div class="col-xs-2">
			<br />
			<br />
			<div>
			   <strong>@Model.data.PreviousYear</strong>
			</div>
		</div>
		<div class="col-xs-2">
			<br />
			<br />
			<div>
				<strong>@Model.data.TwoYearsPrior</strong>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<br />
		@foreach(var report in Model.data.HistoricalComparisonData)
		{
			<div class="col-xs-6">
				<div>
					@report.ServiceCodeName
				</div>
				<br />
			</div>
			<div class="col-xs-2">
				<div>
					@report.CurrentYearTotal
				</div>
				<br />
			</div>
			<div class="col-xs-2">
				<div>
					@report.PreviousYearTotal
				</div>
				<br />
			</div>
			<div class="col-xs-2">
				<div>
					@report.TwoYearsPriorTotal
				</div>
				<br />
			</div>
		}
	</div>
	<hr>
	<div class="row">
		<br />
		<div class="col-xs-6">
			<div class="floatRight">
				<strong>Totals:</strong>
			</div>
		</div>
		<div>
			<div class="col-xs-2">
				<div>
					@Model.data.HistoricalComparisonDataTotals.CurrentYearTotal
				</div>
			</div>
			<div class="col-xs-2">
				<div>
					@Model.data.HistoricalComparisonDataTotals.PreviousYearTotal
				</div>
			</div>
			<div class="col-xs-2">
				<div>
					@Model.data.HistoricalComparisonDataTotals.TwoYearsPriorTotal
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row reportHeader">
		<br />
		<div class="col-xs-12">
			<div>
				<strong>Cost Report</strong>
			</div>
			<br />
		</div>
		<div class="col-xs-2">
			<br />
			<div>
			   <strong>Year</strong>
			</div>
		</div>
		<div class="col-xs-4">
			<br />
			<div>
			   <strong>Status</strong>
			</div>
			<br />
			<br />
		</div>
		<div class="col-xs-2">
			<br />
			<div>
				<strong>Allowable<br />Costs</strong>
			</div>
			<br />
		</div>
		<div class="col-xs-2">
			<br />
			<div>
			   <strong>Interim<br />Payments</strong>
			</div>
			<br />
		</div>
		<div class="col-xs-2">
			<br />
			<div>
				<strong>Estimated<br />Settlement<br />Amount</strong>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<br />
			@foreach(var report in Model.data.AnnualEntriesData)
			{
				<div class="col-xs-2">
					<div>
						@report.Year
					</div>
					<br />
				</div>
				<div class="col-xs-4">
					<div>
						@report.Status
					</div>
					<br />
				</div>
				<div class="col-xs-2">
					<div>
						@report.AllowableCosts
					</div>
					<br />
				</div>
				<div class="col-xs-2">
					<div>
						@report.InterimPayments
					</div>
					<br />
				</div>
				<div class="col-xs-2">
					<div>
						@report.SettlementAmount
					</div>
					<br />
				</div>
			}
	</div>
	<hr>
	<div class="row">
		<br />
		<div class="col-xs-6">
			<div class="floatRight">
				<strong>Totals:</strong>
			</div>
		</div>
		<div>
			<div class="col-xs-2">
				<div>
					@Model.data.AnnualEntriesDataTotals.AllowableCosts
				</div>
			</div>
			<div class="col-xs-2">
				<div>
					@Model.data.AnnualEntriesDataTotals.InterimPayments
				</div>
			</div>

			<div class="col-xs-2">
				<div>
					@Model.data.AnnualEntriesDataTotals.SettlementAmount
				</div>
			</div>
		</div>
	</div>
</body>

</html>
